{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Buscar Contenedores</h2>
    <form method="POST" action="{{ url_for('admin.admin_search_containers') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.search_query.label(class="form-control-label") }}
            {{ form.search_query(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <h2 class="mt-4">Resultados de la Búsqueda</h2>
    <ul class="list-group">
        {% if containers.items %}
            {% for container in containers.items %}
            <li class="list-group-item">
                <h5>{{ container.name }}</h5>
                <p>Ubicación: {{ container.location }}</p>
                <p>Objetos: {{ container.items | join(', ') }}</p>
                <p>Usuario: {{ container.user.username }}</p>
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">
                <p>No se encontraron contenedores.</p>
            </li>
        {% endif %}
    </ul>

    <!-- Paginación -->
    <div class="mt-4 text-center">
        {% for page_num in containers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if containers.page == page_num %}
                    <a class="btn btn-primary mb-4" href="{{ url_for('admin.admin_search_containers', page=page_num, search_query=search_query) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-primary mb-4" href="{{ url_for('admin.admin_search_containers', page=page_num, search_query=search_query) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock %}