{% extends "layout.html" %}

{% block content %}
<h2>Lista de Usuarios</h2>
<table>
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{{ url_for('admin.edit_user', user_id=user.id) }}">Editar</a>
                <a href="{{ url_for('admin.view_user', user_id=user.id) }}">Ver</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}