{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container mt-5">
    <h2 class="text-center">Mis Contenedores</h2>
    <div class="list-group">
        {% for container in containers %}
        <div class="list-group-item">
            <h3>{{ container.name }}</h3>
            <p>Localización: {{ container.location }}</p>
            <p>Objetos: {{ container.items | join(', ') }}</p>
            <a href="{{ url_for('main.container_detail', container_id=container.id) }}" class="btn btn-primary">Ver Detalles</a>
            <a href="{{ url_for('main.edit_container', container_id=container.id) }}" class="btn btn-secondary">Editar</a>
            <a href="{{ url_for('main.print_container', container_id=container.id) }}" class="btn btn-info">Imprimir</a>
            <a href="{{ url_for('main.download_container', container_id=container.id) }}" class="btn btn-success">Descargar</a>
            <form action="{{ url_for('main.delete_container', container_id=container.id) }}" method="POST" style="display: inline;">
                {{ form.hidden_tag() }}
                <input type="checkbox" id="confirmDelete{{ container.id }}" name="confirmDelete" required>
                <label for="confirmDelete{{ container.id }}">Confirmar eliminación</label>
                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este contenedor?');">Eliminar</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}