
{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <h1>Mis Contenedores</h1>
    <a href="{{ url_for('main.create_container') }}" class="btn btn-primary">Crear Contenedor</a>
    <div class="row mt-3">
        {% for container in containers %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ url_for('static', filename='images/' + container.image_file) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ container.name }}</h5>
                    <p class="card-text">{{ container.location }}</p>
                    <a href="{{ url_for('main.container_detail', container_id=container.id) }}" class="btn btn-primary">Detalles</a>
                    <a href="{{ url_for('main.print_container', container_id=container.id) }}" class="btn btn-secondary" target="_blank">Imprimir</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}