{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2 class="text-center">Lista de Usuarios</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Es Admin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ 'Sí' if user.is_admin else 'No' }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_user', user_id=user.id) }}" class="btn btn-secondary">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}