{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="container">
    <h1>Cuenta de {{ current_user.username }}</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('main.account') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                    {% for error in form.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.address.label(class="form-label") }}
                    {{ form.address(class="form-control") }}
                    {% for error in form.address.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.phone.label(class="form-label") }}
                    {{ form.phone(class="form-control") }}
                    {% for error in form.phone.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.picture.label(class="form-label") }}
                    {{ form.picture(class="form-control-file") }}
                    {% for error in form.picture.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Foto de Perfil</h2>
            <img src="{{ image_file }}" alt="Profile Picture" class="img-thumbnail">
            <div class="mt-4">
                <a href="{{ url_for('main.change_password') }}" class="btn btn-outline-warning">Cambiar Contraseña</a>
            </div>
            <div class="mt-4">
                <form action="{{ url_for('main.delete_account') }}" method="post" class="d-inline">
                    {{ form.hidden_tag() }} <!-- Campo CSRF oculto -->
                    <button type="submit" class="btn btn-danger">Eliminar Cuenta</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}